@model Department
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>
    <form asp-action="Create" method="post">
        <div class="form-group mb-3">
            <label asp-for="@Model.Code" class="form-label">Code</label>
            <input asp-for="@Model.Code" type="text" class="form-control">
            <span asp-validation-for="@Model.Code" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.Name" for="name" class="form-label">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <input type="submit" value="Create New Department" class="btn btn-primary" />
    </form>
</div>

