@model Department
@{
    ViewData["Title"] = "Update";
}

<div class="container">
    <h1>Details</h1>
    <form asp-action="Update" method="post">
        <div class="form-group mb-3">
            <label asp-for="@Model.Id" class="form-label">Id</label>
            <input asp-for="@Model.Id" type="text" class="form-control" readonly>
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.Code" class="form-label">Code</label>
            <input asp-for="@Model.Code" type="text" class="form-control">
            <span asp-validation-for="@Model.Code" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.DateOfCreation" class="form-label">Name</label>
            <input asp-for="@Model.DateOfCreation" type="date" class="form-control">
            <span asp-validation-for="@Model.DateOfCreation" class="text-danger"></span>
        </div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </form>
</div>

